.heads{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left:0;
    height: 30px;
    width: 98%;
    top:5px;
}
.nav-left{
    width:70px;
    display: flex;
}
.nav-links{
    width: 200px;
    display: flex;
    row-gap: 20px;
    column-gap: 10px;
    position: relative;
}
.nav-links .dropdown {
    display: none;
    position: absolute;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
    background-color: black;
    font-size: 20px;
    height: 170px;
    column-count: 2;
    column-gap: 20px;
    
  }
.nav-links:hover .dropdown {
    display: block;
  }
.nav-links a{
    text-decoration: none;
}
.search-container{
    display: flex;
    flex: 1;
    column-gap: 10px;
    align-items: center;
}
.search-bar{
    padding: 10px 10px 10px 10px;
    flex: 1;
}